root {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* NavBar */
.nav-tabs {
  background-color: #e9f4ff;
  text-align: center;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

/* Modal */
.form-group {
  background: white;
}

/* Body  */
.mainbody {
  display: grid;
  justify-content: center;
}

.body {
  padding-bottom: 3rem;
  margin-bottom: 10rem;
  border-radius: 0.3rem;
}

.container {
  max-width: 530px;
}

h4 {
  line-height: 1rem;
  margin: 1rem;
}

/* Component */
.liftHeader {
  background: black;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
}

.cycleArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cycleButtonGroup {
  display: flex;
  justify-content: center;
  margin: 1.5rem 0;
}

.pad-left {
  margin-left: 1.5rem;
}

/* Table */
.Table {
  color: white;
  background-color: black;
  text-align: center;
}

.col.no-pad {
  margin: 0;
  padding-right: 0;
  padding-left: 0;
}

.col {
  max-width: 90%;
}

.row {
  padding: 0.2rem;
  border-bottom: 1px #d0d0d0 solid;
}

.row.form-group {
  margin-right: 0;
  margin-left: 0;
  background: white;
  color: black;
  border: none;
  border-radius: 0.2rem;
}

.RowHeader {
  font-weight: bold;
}

.scaleWarning {
  color: red;
  text-align: center;
}

.noWarm {
  display: flex;
  font-style: italic;
  justify-content: center;
  color: red;
}
.btn.btn-sm {
  color: white;
}

form,
.container {
  background: black;
}
