.App {
  align-items: center;
  width: 60%;
  justify-content: center;
  display: grid; 
  padding: 0;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10%;
  margin-bottom: 10%;  
  position: absolute;
}

.App-header {
  background-color:  #000000;
  color: white;
  width: 100%;
  justify-content: center;
  display: grid; 
  padding: 10px;
  margin-left: 0;
  margin-right: 0;
}

.Bench {
  background-color:  #000000;
  color: white;
  width: 100%;
  justify-content: center;
  display: grid; 
  padding: 10px;
  margin-left: 0;
  margin-right: 0;
}

.body {
  margin: 0;
  padding-bottom: 10%;
}

.Cycle {
  text-align: center;
  padding: 0;
  margin: 0;
}

.Table {
  color: white;
  background-color: black;
}

.row {
  padding: 5px;
  border-bottom: 1px #d0d0d0 solid;
}

.col {
 margin: auto;
}

.Row-Collapse {
  padding: 0;
  border-bottom: 0;
}

.RowHeader {
  font-weight: bold;
}