.App {
  align-items: center;
  width: 70%;
  justify-content: center;
  display: block; 
  padding: 0;
  margin-top: 5%; 
  margin-left: 5%;
  position: absolute;
  border: white solid 2px;
}

.Bench {
  background-color:  #000000;
  color: white;
  width: 100%;
  justify-content: center;
  display: grid; 
  padding: 10px;
  margin-left: 0;
  margin-right: 0;
}

.Cycle {
  text-align: center;
  padding: 0;
  margin: 0;
}

.Table {
  color: white;
  background-color: black;
}

.row {
  padding: 5px;
  border-bottom: 1px #d0d0d0 solid;
}

.col {
 margin: auto;
}

.Row-Collapse {
  padding: 0;
  border-bottom: 0;
}

.RowHeader {
  font-weight: bold;
}

.body {
  background-color: grey;
  color: black;
  margin-top: 0;
  margin-bottom: 10%;
}

.Cycle-Buttons {
text-align: center;
padding: 20px;
}

.Inputs {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
}

.scaleWarning {
  color: red;
  text-align: center;
}

.nav-tabs {
  background-color:#e9f4ff;
  text-align: center; 
}

.liftHeader {
  background: black;
  color: white;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  letter-spacing: 2px; 
}
